// color
$primary: #F9B471;
$secondary: #51A8BC;
$tertiary: #BDE8F9;
$light-grey: #F9F8F6;
$mid-grey: #EEEDE8;
$dark-grey: #A5A39C;
$light-main: #FFFAF4;
$white: #FFFFFF;
$dark: #4D4C52;
$bg-color: #EEEDE8;
$btnbg-disabled: #FAFAFA;
$btn-disabled: #E5E5E3;
$nav-btn-disabled: #E2E1DD;
$placeholder-color: #D9D9D9;

// font-size
$h1: 1.5rem;  //24px
$h2: 1.25rem; //20px
$h3: 1rem; //16px
$h4: 0.875rem; //14px
$h5: 0.75rem; //12px
$h6: 0.625rem; //10px


// mixin (style)
@mixin containerStyle ($width, $height, $bg-color, $border: none, $bd-radius: none) {
  width: #{$width};
  height: #{$height};
  background-color: #{$bg-color};
  border: #{$border};
  border-radius: #{$bd-radius};
}

@mixin fontStyle ($size, $color, $letter-spacing: .2rem, $font-weight: 400) {
  font-size: #{$size};
  color: #{$color};
  letter-spacing: #{$letter-spacing};
  font-weight: #{$font-weight};
}

// mixin (alignment)

@mixin flex ($align: flex-start, $justify: stretch) {
  display: flex;
  align-items: #{$align};
  justify-content: #{$justify};
}

@mixin position ($position: absolute, $top: auto, $bottom: auto, $left:auto, $right: auto) {
  position: #{$position};
  top: #{$top};
  bottom: #{$bottom};
  left: #{$left};
  right: #{$right};
}

// button style
%home-button {
  @include containerStyle(100%, auto, $light-main);
  @include fontStyle($h1, $dark, 1rem);
  text-align: center;
  line-height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &:hover {
    background-color: $primary;
    color: $white;
  }
  &:disabled {
    background-color: $btnbg-disabled;
    color: $btn-disabled;
    cursor: not-allowed;
  }
}


%file-button {
  @include containerStyle(100%, 60px, $white, none, 30px);
  @include fontStyle($h2, $dark-grey, normal);
  @include flex(center, space-evenly);
  line-height: 60px;
  cursor: pointer;
  p {
    width: calc(100%/3);
    text-align: left;
    padding-left: 31px;
    // deal with words overflow
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: $light-grey;
  }
  &.active {
    background-color: $light-main;
    cursor: wait;
  }
}

%nav-button {
  @include containerStyle(fit-content, 100%, $light-main);
  @include fontStyle($h3, $secondary);
  cursor: pointer;
  &:hover, &:active, &:focus {
    color: $primary;
  }
  &:disabled {
    color: $nav-btn-disabled;
    cursor: not-allowed;
  }
}

%create-sign-btn {
  @include containerStyle(100%, 60px, white, 1px dashed $dark-grey);
  @include flex(center, center);
  cursor: pointer;
  & p {
    @include fontStyle($h3, $dark-grey, normal);
    margin-right: 12px;
  }
  &:hover {
    background-color: $light-main;
  }
}

%delete-sign-btn {
  @extend %create-sign-btn;
  & p {
    margin-left: auto;
  }
  & img {
    margin-left: auto;
    transition: all .2s;
  }
  .sign-created {
    width: 60%;
    height: 100%;
    object-fit: contain;
  }
  .delete {
    &:hover {
      opacity: 0.3;
    }
  }
}

%open-file-btn {
  @include containerStyle(180px, 60px, $secondary, none, 35px);
  @include fontStyle( $h2, $white);
  box-shadow: 0px 4px 4px $bg-color;
  cursor: pointer;
  &:hover {
    background-color: $primary;
  }
  &:disabled {
    background-color: $mid-grey;
    cursor: not-allowed;
  }
}


%close-btn-white {
  @include containerStyle(180px, 60px, $white, none, 35px);
  @include fontStyle($h2, $secondary);
  box-shadow: 0px 4px 4px $bg-color;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}


%close-btn-orange {
  @extend %close-btn-white;
  background-color: $light-main;
}